.contact{
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(250, 223, 183);
}
.contact img {
    width: 50px;
    border-radius: 50%;
    background-color: white;
}
.contact p{
    /* width: 80%; */
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    width: 70%;
    font-size: 18px;
    color: rgb(88, 88, 88);
   
} 
.about{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.397);
    padding: 15px;
   
}
.about img{
    width: 130px;
}
.icons{
    margin-top: 50px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content:space-evenly;
    align-items:center ;
}
.icons a{
    font-size: 50px;

}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;

}

.git{
    color:#6e5494
}
.file{
    background-color: teal;
    padding: 1.5vw;
    color: rgb(255, 255, 255);
}
.file:hover{
    background-color: rgb(192, 192, 192);
}
.linkedin{
    color:#0077b5
}
.whatsapp{
    color:#21be5b
}
.gmail{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.459);
   padding: 20px;
   color:#ce3d30
}
.gmail:hover{
    background-color: white;
}
.gmail .icon{
    font-size: 78px;
}

@media only screen and (max-width: 1000px) {
    .about img{
        width: 110px;
    }
    .about{
        width: 80vw;
    }
    
    .icons{
      
        font-size: 16px;
        width: 30vw;
    }
    .icons a{
        font-size: 40px;
    
    }
    .icon{
        width: 170px;
    }
    .contact p{
        width: 100%;
        font-size: 18px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .about img{
        width: 80px;
    }
    .icons{
        font-size: 10px;
        width: 75vw;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .icons a{
        font-size: 50px;
    
    }
    .icon{
        width: 70px;
    
    }
    .whatsapp{
        color:#21be5b
    }
    .git{
        color:#6e5494
    }
   
    .linkedin{
        color:#0077b5
    }
    .about{
        width: 80vw;
    }
    .contact p{
        font-size: 14px;
    }
  
}