@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');

@import url('./contact.css');
*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    
    align-items: center;
    font-family: 'Hind', sans-serif;
    position: relative;
    overflow-x: hidden;
}
.project{
    -webkit-box-shadow: 2px 0px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 6px -1px rgba(0,0,0,0.75);
    margin: 5px;
    width: 22em;
    height: 400px;
    max-width: 16em;
    padding: 10px;
    background-color: rgba(248, 248, 248, 0.253);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: rgb(175, 175, 175) 1px solid;
    border-radius: 10px;
    color: rgb(63, 63, 63);
    

}

.project-link{
    background-color: rgb(214, 230, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.project-img-phone{
    padding: 3px;
    background-color: rgb(194, 194, 194);
    border-radius: 5%;
    width: 85px;
    height: 135px;
}


.project-img-desktop{
    padding: 3px;
    background-color: rgb(194, 194, 194);
    border-radius: 5%;
    width: 150px;
    height: 75px;

}
.link{
    border: rgb(138, 138, 153) 1px solid;
    padding: 5px;
    border-radius: 5px;
    transition: ease-in 0.2s all;
}

.link:hover{
    border: 1px solid rgb(13, 0, 87);
    color: rgb(0, 0, 0);
    background-color: rgb(219, 255, 255);
}
.links{
    border-radius: 8px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.582);
    display: flex;
    width: 90%;
    justify-content: space-around;
}
.page{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}
.skills{
    background-color: rgb(230, 216, 230);
    color: rgb(26, 26, 26);
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
.hero{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/deck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: unset;
}

.darker{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.308);
}
.buttons{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

button{
    height: 3em;
    width: 6em;
    font-size: large;
    font-family: unset;
    color: white;
    background-color: rgb(45, 100, 145);
    border: 4px solid rgba(255, 255, 255, 0.116);
    border-radius: 5px;
    transition: 0.05s all;
}
button:hover{
    cursor: pointer;
    border: 6px solid rgba(255, 255, 255, 0.616);
    
}
h1{
    color: rgb(255, 255, 255);
    font-weight:bolder;
    font-size: 4em;
    width: 60%;
  
}

.projects{
    height: fit-content;
    width: 100vw;
    background-color: rgb(196, 218, 231);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}





.skills-imgs{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    width: 70vw;
}
.skills-imgs img {
    width: 120px;
    margin: 10px;
}
.img-card{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 960px) {
    h1{
        font-size:3em
    }

    .buttons{
        width: 75%;
    }

    .skills-imgs img {
        width: 100px;
        margin: 5px;
    }
    .img-card{
        margin: 10px;
        display: flex;
       
    }
   

   
}

@media only screen and (max-width: 600px) {
    html{
        font-size: 14px;
        font-weight: bold;
    }
    h1{
        font-size:2.5em
    }
    .buttons{
        width: 90%;
    }

    button{
        height:2.7em ;
        width:5em;
    }
    .links{
        width: 100%;
    }
    .link{
        padding: 3px;
    }
    .project-link{
        background-color: unset;
        width:45vw;
    }
    .project-img-phone{
        width: 80px;
        height: 110px;
    }

    .project-img-desktop{
        width: 115px;
        height: 70px;
    }
    .project{
        flex-direction: row;
        max-width: unset;
        width: 100%;
        height: fit-content;
        padding: 10px;
    }
    .skills-imgs{
       width: 95vw;
       
    }
    .skills-imgs img {
        width: 80px;
        margin: 3px;
    }
    .img-card{
        margin: 10px;
        display: flex;
       
    }
   
    
   
}